
<div id="mySidenav" class="sidenav">
    <a  href="/"
		><img src="../images/site-logo.png" alt="site logo"
      /></a>
      
    <a class="lead">Dashboard</a>
    <hr>
    <a href="/">Home</a>
    <hr>
    <a href="/posts/1">All Posts</a>
    <hr>
    <a href="/compose">Compose Post</a>
    <hr>
    <a href="/sponsors">Add Sponsor</a>
    <hr>
    <a href="/logout">Logout</a>
    <hr>
  </div>
  