<%- include("partials/header") %> 
<%- include("partials/navbar") %> 

  <div class="wrapper row3 ">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h3 class="heading">Tincidunt phasellus</h3>
        <p>Non risus leo sed eget lobortis risus mauris blandit maximus.</p>
      </div>
      <p class="btmspace-50 justified">Enim neque nec placerat risus suscipit vitae volutpat nisi sit amet turpis molestie ut sodales nisi efficitur duis id ex eros vivamus ac vehicula nibh non luctus ipsum suspendisse dolor metus varius in facilisis vitae euismod nec ex donec ullamcorper eros vel molestie sagittis libero augue elementum libero cursus euismod sem leo sed augue praesent condimentum odio sit amet nulla tempor sollicitudin lacinia mauris vestibulum cras euismod accumsan dolor et convallis praesent porttitor maximus viverra proin fermentum scelerisque neque quis consequat mauris rutrum eget proin fringilla nisi libero in tincidunt tortor porttitor sed phasellus vitae molestie massa suspendisse.</p>
      <ul class="nospace group center">
        <li class="one_quarter first">
          <article><a href="#"><i class="icon btmspace-30 fa fa-500px"></i></a>
            <h6 class="heading">Varius eros ac</h6>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-adjust"></i></a>
            <h6 class="heading">Augue praesent</h6>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-amazon"></i></a>
            <h6 class="heading">Bibendum pulvinar</h6>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-apple"></i></a>
            <h6 class="heading">Dignissim aliquam</h6>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>


  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
    <article class="hoc container"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h3 class="heading">Odio facilisis sagittis</h3>
        <p>Ante vehicula suscipit suscipit mauris varius proin sed libero ut.</p>
      </div>
      <ul class="nospace group">
        <li class="one_half first borderedbox inspace-15">
          <blockquote>Vivamus nec laoreet felis sed at enim est aenean ac diam ante nulla sit amet felis purus nulla molestie maximus volutpat etiam ullamcorper malesuada tristique quisque ac neque accumsan dictum mauris</blockquote>
          <p class="right bold">John Doe / CEO</p>
        </li>
        <li class="one_half borderedbox inspace-15">
          <blockquote>In condimentum risus in faucibus metus nec mi porta congue interdum mauris commodo nulla sit amet convallis nunc a neque a metus ullamcorper bibendum nec sed nunc a metus facilisis volutpat faucibus</blockquote>
          <p class="right bold">John Doe / CEO</p>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </article>
  </div>

  <%- include("partials/footer") %> 

